<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pipnet.wallenews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="瓦砾"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.login.LoginActivity" />
        <activity android:name=".module.login.BindPhoneActivity" />
        <activity android:name=".module.MainActivity" />
        <activity android:name=".module.WebViewActivity" />
        <activity android:name=".module.mine.EditActivity" />
        <activity android:name=".module.mine.EditNameActivity" />
        <activity android:name=".module.mine.EditIntroActivity" />
        <activity android:name=".module.mine.SettingActivity" />
        <activity android:name=".module.mine.AboutActivity" />
        <activity android:name=".module.mine.ModifyPhoneActivity" />
        <activity android:name=".module.mine.FollowingActivity" />
        <activity android:name=".module.mine.FollowerActivity" />
        <activity android:name=".module.home.FeedDetailActivity" />
        <activity android:name=".module.image.ImagePagerActivity" />
        <activity android:name=".module.mine.UserDetailActivity" />
        <activity android:name=".module.find.SearchActivity" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pipnet.wallenews.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>